
.banner ol{
    position: absolute;
    left: 50%;
    overflow: hidden;
    width: 2.5rem;
    margin-left: -1.25rem;
}
.banner ol li{
    float: left;
    width: 0.25rem;
    height: 0.25rem;
    background: #a9a9a9;
    border-radius: 50%;
    margin: 0 0.125rem;
}
.banner ol li.active{
    background: #ff4300;
}
.hot-scale_6 ul li {
    border-top: 0.025rem solid #eee;
}
.hot-scale_6 ul li img {
    width: 4rem;
    height: 3.775rem;
}
.hot-scale_6 ul li div h3 {
    margin-top: .3rem;
    font-size: .85rem;
    color: #6a237f;
    line-height: 1.85rem;
}
.hot-scale_6 ul li div p {
    font-size: .6rem;
    color: #999;
}
