.nav ul {
  border-bottom: 0.025rem solid #999;
}
.nav ul li {
  width: 3.93rem;
  line-height: 2rem;
  text-align: center;
  float: left;
}
.nav ul li a {
  font-size: 0.575rem;
  display: block;
}
.nav ul li .on {
  color: #d51942;
}
.nav ul .om {
  border-left: 0.025rem solid #999;
}
.hot-scale ul li {
  padding: .7rem 0;
  border-bottom: 0.025rem solid #eee;
}
.hot-scale ul li img {
  width: 3.55rem;
  height: 5rem;
  margin-left: .525rem;
}
.hot-scale ul li .opc {
  width: 10rem;
  height: 5rem;
  background: url("../img/three.jpg") no-repeat 0 0;
  position: relative;
  margin-left: .925rem;
}
.hot-scale ul li .opc .opc_v {
  width: 10rem;
  height: 1rem;
  background: #000;
  opacity: .5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hot-scale ul li .opc p {
  color: #fff;
  font-size: .6rem;
  position: absolute;
  bottom: 0;
  left: .35rem;
  line-height: 1rem;
}
.hot-scale ul li .opc1 {
  width: 10rem;
  height: 5rem;
  background: url("../img/girl.jpg") no-repeat 0 0;
  position: relative;
  margin-left: .925rem;
}
.hot-scale ul li .opc1 .opc_v {
  width: 10rem;
  height: 1rem;
  background: #000;
  opacity: .5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hot-scale ul li .opc1 p {
  color: #fff;
  font-size: .6rem;
  position: absolute;
  bottom: 0;
  left: .35rem;
  line-height: 1rem;
}
